<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="b2cEntities" connectionString="metadata=res://*/b2cModel.csdl|res://*/b2cModel.ssdl|res://*/b2cModel.msl;provider=Npgsql;provider connection string=&quot;HOST=185.22.184.145;PORT=5432;PROTOCOL=3;DATABASE=orsan;USER ID=postgres;PASSWORD=lok651*-;SSL=False;SSLMODE=Disable;TIMEOUT=15;POOLING=True;CONNECTIONLIFETIME=15;MINPOOLSIZE=1;MAXPOOLSIZE=20;SYNCNOTIFICATION=False;COMMANDTIMEOUT=20;ENLIST=False;PRELOADREADER=True;USEEXTENDEDTYPES=False;INTEGRATED SECURITY=False;COMPATIBLE=2.0.11.91&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>