USE [B2BNET]
GO
/****** Object:  Table [dbo].[BARKOD_DOKUM_KOORDINAT]    Script Date: 01/03/2012 10:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARKOD_DOKUM_KOORDINAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BARKOD_YAZICI_TANITIM_ID] [int] NOT NULL,
	[BARKOD_CHK] [bit] NOT NULL,
	[BARKOD_X] [int] NULL,
	[BARKOD_Y] [int] NULL,
	[BARKOD_FONT_SIZE] [int] NULL,
	[BARKOD_FONT_BOLD] [bit] NULL,
	[STOK_KOD_CHK] [bit] NOT NULL,
	[STOK_KOD_X] [int] NULL,
	[STOK_KOD_Y] [int] NULL,
	[STOK_KOD_FONT_SIZE] [int] NULL,
	[STOK_KOD_FONT_BOLD] [bit] NULL,
	[STOK_AD_CHK] [bit] NOT NULL,
	[STOK_AD_X] [int] NULL,
	[STOK_AD_Y] [int] NULL,
	[STOK_AD_FONT_SIZE] [int] NULL,
	[STOK_AD_FONT_BOLD] [bit] NULL,
	[STOK_AMBALAJ_MIKTAR_CHK] [bit] NOT NULL,
	[STOK_AMBALAJ_MIKTAR_X] [int] NULL,
	[STOK_AMBALAJ_MIKTAR_Y] [int] NULL,
	[STOK_AMBALAJ_MIKTAR_FONT_SIZE] [int] NULL,
	[STOK_AMBALAJ_MIKTAR_FONT_BOLD] [bit] NULL,
	[ACIKLAMA_1_CHK] [bit] NOT NULL,
	[ACIKLAMA_1_X] [int] NULL,
	[ACIKLAMA_1_Y] [int] NULL,
	[ACIKLAMA_1_FONT_SIZE] [int] NULL,
	[ACIKLAMA_1_FONT_BOLD] [bit] NULL,
	[ACIKLAMA_1] [nvarchar](50) NULL,
	[ACIKLAMA_2_CHK] [bit] NOT NULL,
	[ACIKLAMA_2_X] [int] NULL,
	[ACIKLAMA_2_Y] [int] NULL,
	[ACIKLAMA_2_FONT_SIZE] [int] NULL,
	[ACIKLAMA_2_FONT_BOLD] [bit] NULL,
	[ACIKLAMA_2] [nvarchar](50) NULL,
	[ACIKLAMA_3_CHK] [bit] NOT NULL,
	[ACIKLAMA_3_X] [int] NULL,
	[ACIKLAMA_3_Y] [int] NULL,
	[ACIKLAMA_3_FONT_SIZE] [int] NULL,
	[ACIKLAMA_3_FONT_BOLD] [bit] NULL,
	[ACIKLAMA_3] [nvarchar](50) NULL,
	[ACIKLAMA_4_CHK] [bit] NOT NULL,
	[ACIKLAMA_4_X] [int] NULL,
	[ACIKLAMA_4_Y] [int] NULL,
	[ACIKLAMA_4_FONT_SIZE] [int] NULL,
	[ACIKLAMA_4_FONT_BOLD] [bit] NULL,
	[ACIKLAMA_4] [nvarchar](50) NULL,
	[ACIKLAMA_5_CHK] [bit] NOT NULL,
	[ACIKLAMA_5_X] [int] NULL,
	[ACIKLAMA_5_Y] [int] NULL,
	[ACIKLAMA_5_FONT_SIZE] [int] NULL,
	[ACIKLAMA_5_FONT_BOLD] [bit] NULL,
	[ACIKLAMA_5] [nvarchar](50) NULL,
	[LK_DURUM_ID] [int] NOT NULL,
	[INSERT_TAR] [datetime] NULL,
	[INSERT_KUL_ID] [int] NULL,
	[UPDATE_TAR] [datetime] NULL,
	[UPDATE_KUL_ID] [int] NULL,
 CONSTRAINT [PK_BARKOD_DOKUM_KOORDINAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BARKOD_DOKUM_KOORDINAT]  WITH CHECK ADD  CONSTRAINT [FK_BARKOD_DOKUM_KOORDINAT_BARKOD_YAZICI_TANITIM] FOREIGN KEY([BARKOD_YAZICI_TANITIM_ID])
REFERENCES [dbo].[BARKOD_YAZICI_TANITIM] ([ID])
GO
ALTER TABLE [dbo].[BARKOD_DOKUM_KOORDINAT] CHECK CONSTRAINT [FK_BARKOD_DOKUM_KOORDINAT_BARKOD_YAZICI_TANITIM]
GO
ALTER TABLE [dbo].[BARKOD_DOKUM_KOORDINAT]  WITH CHECK ADD  CONSTRAINT [FK_BARKOD_DOKUM_KOORDINAT_LK_DURUM] FOREIGN KEY([LK_DURUM_ID])
REFERENCES [dbo].[LK_DURUM] ([ID])
GO
ALTER TABLE [dbo].[BARKOD_DOKUM_KOORDINAT] CHECK CONSTRAINT [FK_BARKOD_DOKUM_KOORDINAT_LK_DURUM]